<div class="getCitation">
    <div class="row">
        <% if (source1 != "") { %>
            <div>[1] &nbsp; <%= source1 %></div>
        <% } %>
    
        <% if (source2 != "") { %>
            <div>[2] &nbsp; <%= source2 %></div>
        <% } %>
    
        <% if (source3 != "") { %>
            <div>[3] &nbsp; <%= source3 %></div>
        <% } %>
    
        <% if (source4 != "") { %>
            <div>[4] &nbsp; <%= source4 %></div>
        <% } %>

    </div>
    
</div>