<div id="aberdeen-angus" class="card">
    <a href="aberdeen-angus">
        <div class="card-header">
            Aberdeen-Angus
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/Angus%20Bull.jpg" alt="aberdeen-angus">
        </div>
    </a>
</div>