<div id="aubrac" class="card">
    <a href="aubrac">
        <div class="card-header">
            Aubrac
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/aubrac2.jpg" alt="aubrac">
        </div>
    </a>
</div>