<div id="barzona" class="card">
    <a href="barzona">
        <div class="card-header">
            Barzona
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/barzonabull.jpg" alt="barzona">
        </div>
    </a>
</div>