<div id="beef-master" class="card">
    <a href="beef-master">
        <div class="card-header">
            Beef-Master
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/Beefmaster%20Bull.jpg" alt="beef-master">
        </div>
    </a>
</div>