<div id="beef-shorthorn" class="card">
    <a href="beef-shorthorn">
        <div class="card-header">
            Beef-Shorthorn
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/Beef%20Shorthorn%20Bull.jpg" alt="beef-shorthorn">
        </div>
    </a>
</div>