<div id="beefalo" class="card">
    <a href="beefalo">
        <div class="card-header">
            Beefalo
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/beefalobull1.jpg" alt class = "reverse" alt="beefalo">
        </div>
    </a>
</div>