<div id="belgian-blue" class="card">
    <a href="belgian-blue">
        <div class="card-header">
            Belgian-Blue
        </div>
        <div class="card-content">
            <img src="https://images.saymedia-content.com/.image/t_share/MTc0MDY5MjcxMTMwMDIzNDkw/super-cow.jpg" alt="belgian-blue">
        </div>
    </a>
</div>