<div id="belted-galloway" class="card">
    <a href="belted-galloway">
        <div class="card-header">
            Belted-Galloway
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/beltiebull.jpg" alt class = "reverse" alt="belted-galloway">
        </div>
    </a>
</div>