<div id="blonde d'aquitaine'" class="card">
    <a href="blonde-d-aquitaine">
        <div class="card-header">
            Blonde d'Aquitaine
        </div>
        <div class="card-content">
            <img src="https://i.pinimg.com/originals/a6/43/32/a6433219253ccf9b5a7780ced0c769b0.jpg" alt class = "reverse" alt="blonde d'aquitaine">
        </div>
    </a>
</div>