<div id="braford" class="card">
    <a href="braford">
        <div class="card-header">
            Braford
        </div>
        <div class="card-content">
            <img src="https://i.pinimg.com/originals/c0/12/f8/c012f8861b7e4c0bac99071f71572427.jpg" alt="braford">
        </div>
    </a>
</div>