<div id="brahman" class="card">
    <a href="brahman">
        <div class="card-header">
            Brahman
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/brahmanbull1.jpg" alt class = "reverse" alt="brahman">
        </div>
    </a>
</div>