<div id="brahmousine" class="card">
    <a href="brahmousine">
        <div class="card-header">
            Brahmousine
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/brahmousinbull1.jpg" alt class = "reverse" alt="brahmousine">
        </div>
    </a>
</div>