<div id="brangus" class="card">
    <a href="brangus">
        <div class="card-header">
            Brangus
        </div>
        <div class="card-content">
            <img src="https://www.bovine-elite.com/wp-content/uploads/2016/10/New-Blood-50H-2019-c.jpg" alt="brangus">
        </div>
    </a>
</div>