<div id="buelingo" class="card">
    <a href="buelingo">
        <div class="card-header">
            Buelingo
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/buelingobull.jpg" alt="buelingo">
        </div>
    </a>
</div>