<div id="charolais" class="card">
    <a href="charolais">
        <div class="card-header">
            Charolais
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/Charolais%20Bull.jpg" alt class="reverse" alt="charolais">
        </div>
    </a>
</div>