<div id="chianina" class="card">
    <a href="chianina">
        <div class="card-header">
            Chianina
        </div>
        <div class="card-content">
            <img src="https://farmow.com/article-image/1600423287.jpg" alt="chianina">
        </div>
    </a>
</div>