<div id="composite" class="card">
    <a href="composite">
        <div class="card-header">
            Composite
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/compositebull.jpg" alt="composite">
        </div>
    </a>
</div>