<div id="corriente" class="card">
    <a href="corriente">
        <div class="card-header">
            Corriente
        </div>
        <div class="card-content">
            <img src="https://cattleinternationalseries.weebly.com/uploads/1/6/5/8/16581252/corriente-bull-charlie-copy-22.jpg?488" alt="corriente">
        </div>
    </a>
</div>