<div id="dexter" class="card">
    <a href="dexter">
        <div class="card-header">
            Dexter
        </div>
        <div class="card-content">
            <img src="https://dextercattle.org/wp-content/uploads/2019/11/Applejack-Spartan-Charles.jpg" alt="dexter">
        </div>
    </a>
</div>