<div id="gelbvieh" class="card">
    <a href="gelbvieh">
        <div class="card-header">
            Gelbvieh
        </div>
        <div class="card-content">
            <img src="http://knowledgebase.lookseek.com/images/animals/farmanimals/cattle/Gelbvieh-Cow.jpg" alt class = "reverse" alt="gelbvieh">
        </div>
    </a>
</div>