<div id="hereford" class="card">
    <a href="hereford">
        <div class="card-header">
            Hereford
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/herefordbull.jpg" alt="hereford">
        </div>
    </a>
</div>