<div id="highland" class="card">
    <a href="highland">
        <div class="card-header">
            Highland
        </div>
        <div class="card-content">
            <img src="https://cdn.iamcountryside.com/wp-content/uploads/2019/02/GettyImages-845355220.jpg" alt class="reverse" alt="highland">
        </div>
    </a>
</div>