<div id="lincoln red" class="card">
    <a href="lincoln-red">
        <div class="card-header">
            Lincoln Red
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/lincolnredbull.jpg" alt="lincoln red">
        </div>
    </a>
</div>