<div id="marchigiana" class="card">
    <a href="marchigiana">
        <div class="card-header">
            Marchigiana
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/Marchigianabull.jpg" alt class = "reverse" alt="marchigiana">
        </div>
    </a>
</div>