<div id="miniature hereford" class="card">
    <a href="miniature-hereford">
        <div class="card-header">
            Miniature-Hereford
        </div>
        <div class="card-content">
            <img src="https://www.lazyriverminiatureherefords.com/uploads/1/0/8/0/108095775/published/charlie1.jpeg?1524414305" alt class = "reverse" alt="miniature hereford">
        </div>
    </a>
</div>