<div id="murray gray" class="card">
    <a href="murray-gray">
        <div class="card-header">
            Murray Gray
        </div>
        <div class="card-content">
            <img src="https://www.sustainablegenetics.com/wp-content/uploads/2020/03/yankee.png" alt="murray gray">
        </div>
    </a>
</div>