<div id="nelore" class="card">
    <a href="nelore">
        <div class="card-header">
            Nelore
        </div>
        <div class="card-content">
            <img src="https://pbs.twimg.com/media/CrRnQl9UEAA7lyl.jpg" alt class = "reverse" alt="nelore">
        </div>
    </a>
</div>