<div id="parthenais" class="card">
    <a href="parthenais">
        <div class="card-header">
            Parthenais
        </div>
        <div class="card-content">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQke93IfJ9jkZ5tEIYsYUfMcE6yt7RzKQLUtzML1TIWhwB6yAsOgs-Ast5TpZ_0JdinfbQ&usqp=CAU" alt="parthenais">
        </div>
    </a>
</div>