<div id="pinzgauer" class="card">
    <a href="pinzgauer">
        <div class="card-header">
            Pinzgauer
        </div>
        <div class="card-content">
            <img src="https://www.texascirclep.com/photos/herd%20sires/2011/DSC03764.jpg" alt class = "reverse" alt="pinzgauer">
        </div>
    </a>
</div>