<div id="red angus" class="card">
    <a href="red-angus">
        <div class="card-header">
            Red Angus
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/rangusbull1.jpg" alt="red angus">
        </div>
    </a>
</div>