<div id="red poll" class="card">
    <a href="red-poll">
        <div class="card-header">
            Red Poll
        </div>
        <div class="card-content">
            <img src="https://i.pinimg.com/originals/ce/27/39/ce273967f91ee078381b3bb33802d58c.jpg" alt="red poll">
        </div>
    </a>
</div>