<div id="romagnola" class="card">
    <a href="romagnola">
        <div class="card-header">
            Romagnola
        </div>
        <div class="card-content">
            <img src="https://cattleinternationalseries.weebly.com/uploads/1/6/5/8/16581252/1358506945.jpg" alt class = "reverse" alt="romagnola">
        </div>
    </a>
</div>