<div id="santa gertrudis" class="card">
    <a href="santa-gertrudis">
        <div class="card-header">
            Santa Gertrudis
        </div>
        <div class="card-content">
            <img src="https://petkeen.com/wp-content/uploads/2021/12/Santa-Gertrudis_Celso-Margraf_Shutterstoock.jpg" alt class = "reverse" alt="santa gertrudis">
        </div>
    </a>
</div>