<div id="senepol" class="card">
    <a href="senepol">
        <div class="card-header">
            Senepol
        </div>
        <div class="card-content">
            <img src="https://www.bovine-elite.com/wp-content/uploads/2020/07/WC-112N-e1595512703400.jpg" alt="senepol">
        </div>
    </a>
</div>