<div id="south devon" class="card">
    <a href="south-devon">
        <div class="card-header">
            South Devon
        </div>
        <div class="card-content">
            <img src="https://www.cfgphoto.com/data/media/435/CFG9127.jpg" alt class = "reverse" alt="south devon">
        </div>
    </a>
</div>