<div id="sussex" class="card">
    <a href="sussex">
        <div class="card-header">
            Sussex
        </div>
        <div class="card-content">
            <img src="https://neweralive.na/storage/uploads/2020/11/sussex-2.jpg" alt class = "reverse" alt="sussex">
        </div>
    </a>
</div>