<div id="tarentaise" class="card">
    <a href="tarentaise">
        <div class="card-header">
            Tarentaise
        </div>
        <div class="card-content">
            <img src="https://cattleinternationalseries.weebly.com/uploads/1/6/5/8/16581252/1828199.jpg?361" alt="tarentaise">
        </div>
    </a>
</div>