<div id="texas longhorn" class="card">
    <a href="texas-longhorn">
        <div class="card-header">
            Texas Longhorn
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/Texas%20Longhorn1.jpg" alt class = "reverse" alt="texas longhorn">
        </div>
    </a>
</div>