<div id="watusi" class="card">
    <a href="watusi">
        <div class="card-header">
            Watusi
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/watusibull.jpg" alt class = "reverse" alt="watusi">
        </div>
    </a>
</div>