<div id="zebu" class="card">
    <a href="zebu">
        <div class="card-header">
            Zebu
        </div>
        <div class="card-content">
            <img src="https://i.pinimg.com/originals/a6/88/43/a688437ff2e171da47071a53ec1620a7.png" alt="zebu">
        </div>
    </a>
</div>