<div id="ayrshire" class="card">
    <a href="ayrshire">
        <div class="card-header">
            Ayrshire
        </div>
        <div class="card-content">
            <img src="https://i.ytimg.com/vi/ntQnfak-8cM/hqdefault.jpg" alt="ayrshire">
        </div>
    </a>
</div>