<div id="brown swiss" class="card">
    <a href="brown-swiss">
        <div class="card-header">
            Brown Swiss
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/brown1.jpg" alt="brown swiss">
        </div>
    </a>
</div>