<div id="dairy shorthorn" class="card">
    <a href="dairy-shorthorn">
        <div class="card-header">
            Dairy Shorthorn
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/Dairy%20Shorthorn%20Cow.jpg" alt="dairy shorthorn">
        </div>
    </a>
</div>