<div id="dutch belted" class="card">
    <a href="dutch-belted">
        <div class="card-header">
            Dutch Belted
        </div>
        <div class="card-content">
            <img src="https://alchetron.com/cdn/dutch-belted-c6eaa5cb-ab94-40a8-bfb7-bcde10de71a-resize-750.jpeg" alt="dutch belted">
        </div>
    </a>
</div>