<div id="friesian" class="card">
    <a href="friesian">
        <div class="card-header">
            Friesian
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/friesiancow.jpg" alt="friesian">
        </div>
    </a>
</div>