<div id="jersey" class="card">
    <a href="jersey">
        <div class="card-header">
            Jersey
        </div>
        <div class="card-content">
            <img src="https://bellvalefarms.com/wp-content/uploads/2021/03/funky.jpg" alt="jersey">
        </div>
    </a>
</div>