<div id="milking devon" class="card">
    <a href="milking-devon">
        <div class="card-header">
            Milking Devon
        </div>
        <div class="card-content">
            <img src="https://www.thecattlesite.com/breeds/contents/Milking%20Devon%20Cow.jpg" alt class="reverse" alt="milking devon">
        </div>
    </a>
</div>