<div id="montbeliarde" class="card">
    <a href="montbeliarde">
        <div class="card-header">
            Montbeliarde
        </div>
        <div class="card-content">
            <img src="https://i.pinimg.com/736x/3d/7a/51/3d7a514e90e895821e44ebddcb24f9ef--dairy-cattle-farm-life.jpg" alt="montbeliarde">
        </div>
    </a>
</div>