<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="side"></div>
        <div class="info">
            <div class="infoContent">
                <h2>What is a cow hide?</h2>
                <p>
                    A cowhide is the skin of a cow. After the cow is ready to be butchered for it's meat, the skin is taken and treated to make a hide. 
                    Treating a skin into a hide is a process that takes drying, tanning, washing and even stretching it. The hide keeps the cows pattern. If the
                    cow has spots, the hide will have spots. Same goes for cows with one solid color. If a cow is only brown, the hide will only be brown. If the 
                    treatment is done correctly the hide can be used for a variety uses. 
                </p>
                <br>
                <br>
                <h2>How do you use hides?</h2>
                <p>
                    A hide, or many hides, can be used to create A LOT of items. A small list of possibilities include clothes, different fabrics, blankets or rugs. 
                    Clothes like vests, chaps (pants), boots, gloves, and hats are commonly made from cowhide. A hide can be used as a fabric to cover items. This could be 
                    a pillow case, lampshade, wallet, or even used for the whole couch! More simple uses for cowhides are blankets and rugs. Because cowhides are treated, it
                    takes very little to turn them into blankets or rugs. In fact, most cowhide rugs are just hides put on the floor.
                </p>
                <br>
                <br>
                <h2>Why use cowhide?</h2>
                <p>
                    The reason we continue to use cowhide, even though there are other materials we can use, cowhide is tough and last a long time. Especially when it comes to 
                    working in the elements, cowhide will last much longer than cotton, silk, and other fabrics. That's why saddles and other cowboy items are made from one type 
                    of leather or another. Cows have helped mankind for thousands of years. They provide resources we can take and turn into other things. Besides their meat, milk 
                    and hides, they have other things we can use. Horns can be made into cups and even stomachs can be used as a bota (container used for carrying water). But their
                    hides are special because it helps protect us, keep us warm, and you can even eat leather straps made from the hide. 
                </p>
            </div>
        </div>
        <div class="side"></div>
    </main>
<%- include('includes/end.ejs') %>