<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main-home>
        <div class="side"></div>
        <div class="homeCards">
            <div id="meat" class="card">
                <a href="/meat">
                    <div class="card-header">
                        Meat
                    </div>
                    <div class="card-content">
                        <img src="https://www.thecattlesite.com/breeds/contents/Angus%20Bull.jpg" alt="steak" class="fit">
                    </div>
                </a>
            </div>
            <div id="milk" class="card">
                <a href="/milk">
                    <div class="card-header">
                    Milk
                    </div>
                    <div class="card-content">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Cow_female_black_white.jpg" alt="milk" class="fit">
                    </div>
                </a>
            </div>
            <div id="hide" class="card">
                <a href="/hide">
                    <div class="card-header">
                        Hide
                    </div>
                    <div class="card-content">
                        <img src="/images/hide.jpg" alt="hide" class="fit">
                    </div>
                </a>
            </div>
            <div id="work" class="card">
                <a href="/work">
                    <div class="card-header">
                        Working
                    </div>
                    <div class="card-content">
                        <img src="images/Oxen.jpg" alt="work"  class="fit">
                    </div>
                </a>
            </div>
            <div id="sports" class="card">
                <a href="/sports">
                    <div class="card-header">
                        Sports
                    </div>
                    <div class="card-content">
                        <img src="images/sports.png" alt="sports" class="fit">
                    </div>
                </a>
            </div>
            <div id="all" class="card">
                <a href="/all">
                    <div class="card-header">
                        All
                    </div>
                    <div class="card-content">
                        <img src="images/all.jpg" alt="all" class="fit">
                    </div>
                </a>
            </div>
        </div>
        <div class="side"></div>
    </main-home>
<%- include('includes/end.ejs') %>