<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="side"></div>
        <div class="info">
            <div class="infoContent">
                <h2>Rodeos</h2>
                <p>
                    Working with cows is not always easy. In fact, it rarely is. Cowboys need to have strength and skill to work with cattle.
                    Rodeos were invented to test the skills of the greatest cowboys around. Steer roping and wrestling have cowboys imitate 
                    how they would chase down a cow or steer. Roping ends with the steer tied up so they can't run away. Steer wrestling
                    shows how steers can be grabbed by the horns and brought to the ground. <br>
    
                    There's a lot more events than those two. There's barrel racing, bronc riding (riding a bucking horse), and even sheep racing for the kids.
                    But the most dangerous and exciting event is bull riding. A cowboy sits on a bull that's being held in a pen, hooks his hand into a strap
                    around the bull and hangs on for dear life when the bull is set free. Usually a cowyboy weighing 175 to 230 pounds will ride a 2,000 pound
                    bull. These rodeo bulls are hand selected for select reasons: size, bad temperment (anger), speed, power. If a bull has all four, they probably
                    have the ability to be a great riding bull.
                </p>
                <h2>Bovine Bingo</h2>
                <p>
                    Bingo with Cows? That's right! It's similar to regular bingo with the purpose of agricultural fund raising. Cows are placed in an area with squares. 
                    Each square has a different number. When a cow poops onto a square, that number can be checked off. After so many squares have been marked, someone
                    is bound to get a bingo! Do not play this indoors...
                </p>
            </div>
            
        </div>
        <div class="side"></div>
    </main>
<%- include('includes/end.ejs') %>