<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="side"></div>
        <div class="info">
            <div class="infoContent">
                <h2>Working long hours</h2>
                <p>
                    For thousands of years, cows have beed used for more than milking and eating. They are also made to work. They helped plow fields, pulled wagons or other heavy loads, 
                    thresh grains, and people even rode them. Nowasdays, you'll probably only see people riding bulls at the rodeo. But when farmers 
                    and ranchers didnt' have horses, mules, or donkeys to help with work, the next best choice was their oxen or bulls. Both oxen and bulls are much larger than humans,  
                    so they're often given noserings that allow humans to guide them. 
                </p>
                <div class="subMainPics">
                    <img src="images/workingRiding.jpg" alt="riding cows">
                </div>
                <br>
                <h2>Plowing and Grains</h2>
                <p>
                    When a farmer didn't have horses, bulls or oxen were a great choice. If they were really desperate, cows were used. But because oxen and bulls are much larger and 
                    stronger, they could complete more tasks in a shorter amount of time. In order to plow fields, the farmer needed a plow and something to connect the plow to the bull. 
                    This was usually made from wood or leather straps. <br>
    
                    After the crops were plowed, those same bulls/oxen may have been used to thresh grains. When threshing grains, these animals would step on the garins over and over to 
                    help seperate the grain stock from the grain seed. The seeds would then be used to make various breads, pastas and more. 
                </p>
                <div class="subMainPics">
                    <img src="images/workingPloughing.jpg" alt="ploughing fields">
                    <img src="images/workingPlowing2.jpg" alt="ploughing fields">
                </div>
                <br>
                <h2>Pulling Power and Riding</h2>
                <p>
                    Mentioned earlier, bulls and oxen are very strong. They have lots of power, but tend to be slower. This is perfect for pulling wagons and large loads. Their power combined
                    with a slower pace means higher stamina with large loads, easier to control sharp turns and change directions. But just because their slower, doesn't mean they're slow. Unless 
                    attached to a heavy load, they can still run up 20 miles and hour. Some can run up to 35 miles an hour depending on their build. <br>
    
                    With all that power, no one would ever think to ride one. Wrong! People used bulls and oxen to not just pull but carry things too. If they could carry various items, why not 
                    people? Cows may not be someone's first choice for riding, but for long distances, it's better than walking.
                </p>
                <div class="subMainPics">
                    <img src="images/workingHay.jpg" alt="pulling hay">
                    <img src="images/workingWood.jpg" alt="pulling wood">
                </div>
                <br>
            </div>
        </div>
        <div class="side"></div>
    </main>
    <%- include('includes/pageCitation') %>
<%- include('includes/end.ejs') %>